.my-col {
  padding: 10px;
}

.products, .categories {
  padding: 10px;
  text-align: center;
}

<<<<<<< Updated upstream
@media (min-width: 576px) {
=======
@media (min-width: 992px) {
>>>>>>> Stashed changes
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}